.App {
  text-align: center;
  font-family: 'Exo2';
}
.point {
    cursor: pointer;
}

.link {
  cursor: pointer;
}
ul {
  list-style-type: none;
}

.blur {
  filter: blur(5px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.rotate-360 {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Cube Logic */
.cube-container{
    perspective: 500px; /* Add perspective for 3D effect */
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 15s linear infinite;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
}
.face:hover {
    background-color: rgba(200, 232, 199, 0.8)
}

.front  { transform: translateZ(100px); }
.back   { transform: translateZ(-100px) rotateY(180deg); }
.left   { transform: rotateY(-90deg) translateZ(100px); }
.right  { transform: rotateY(90deg) translateZ(100px); }
.top    { transform: rotateX(90deg) translateZ(100px); }
.bottom { transform: rotateX(-90deg) translateZ(100px); }

@keyframes rotate {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}




/* Fonts */
@font-face {
    font-family: 'Exo2';
    src: url('./fonts/exo2.ttf') format('truetype');
  }
  .exo {
    font-family: 'Exo2';
  }
@font-face {
    font-family: 'Fatface';
    src: url('./fonts/abril-fatface.ttf') format('truetype');
  }
  .fatface {
    font-family: 'Fatface';
  }
@font-face {
    font-family: 'Dosis';
    src: url('./fonts/dosis.ttf') format('truetype');
  }
  .dosis {
    font-family: 'Dosis';
    font-weight: 700;
  }

